# Keys
keys/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# pyenv
.python-version

# Environments
**/.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode 
.vscode

# PyCharm
.idea

# Vim swap files
*.swp
