label {
  font-weight: bold;
}
.field-helptext {
  font-size: 12px;
}
.field-error {
  font-size: 14px;
  color: red;
}
.field-required {
  font-weight: bold;
}
.field-required:after {
  content: " *";
}

:root {
  --color-white: #eee;
  --color-light-gray: #a0a2a4;
  --color-primary: #0066cc;
  --color-secondary: #00ccff;
  --color-tertiary: #00ffcc;
  --color-quaternary: #ccffcc;
  --color-crimson: #b33243;
  --color-crimson-dark: #5a2a38;
}
html {
  font-family: "Montserrat, sans-serif";
  color: #444;
}

#content {
  height: 100%;
  width: 100%;
  padding-right: 10px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sideNav {
  height: 100%;
  width: 250px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 10px;
}
#sideNav img {
  width: 100%;
  padding-top: 10px;
  object-fit: contain;
}

#titleHeader {
  font-weight: bold;
  text-align: center;
  color: inherit;
}
