label {
  font-weight: bold;
}
.field-helptext {
  font-size: 12px;
}
.field-error {
  font-size: 14px;
  color: red;
}
.field-required {
  font-weight: bold;
}
.field-required:after {
  content: " *";
}
.banner-action {
  font-size: 1vw;
}

:root {
  --color-nhlbi-red: #c0143c;
  --color-nhlbi-grey: #616265;

  --color-white: #fff;
  --color-black: #000;
  --color-catalyst-blue: #1a568c;
  --color-catalyst-dark-blue: #12385a;
  --color-catalyst-dark-grey: #393939;
  --color-catalyst-bright-blue: #41abf5;

  --color-darker-gray: #eeeeee;
  --color-dark-gray: #f0f0f0;
  --color-base-gray: #f5f5f5;
  --color-light-gray: #fafafa;
  --color-almost-white: #fcfcfc;
}
html {
  font-family: "Montserrat, sans-serif";
  color: #444;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-nav {
  width: 20vw;
  z-index: 999;
  position: fixed;
  top: 0;
}
.side-nav img {
  width: 18vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  padding: 0.1vw;
}

#footer {
  /* position: fixed; */
  background-color: var(--color-base-gray);
  padding: 1vw;
}
#footer a:link {
  color: var(--color-catalyst-blue);
}
#footer a:visited {
  color: var(--color-catalyst-blue);
}
.footer-item {
  display: inline-block;
  color: var(--color-black);
  /* padding-left: 5px;
  padding-right: 5px; */
}

#content {
  min-height: 100vh;
  margin-left: 20vw;
  overflow: hidden;
  padding: 1;
}

#titleHeader {
  font-weight: bold;
  text-align: center;
  color: inherit;
}

#board {
  overflow-x: auto;
}

.board-section {
  margin: 20px 0;
  border: 1px solid var(--color-light-gray);
  border-radius: 0.25rem;
  padding: 10px;
  background-color: var(--color-base-gray);
}

.custom-card {
  background-color: var(--color-base-gray);
}

.board-section-header {
  font-weight: bold;
  padding: 10px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.board-item {
  border: 1px solid var(--color-light-gray);
  border-radius: 0.25rem;
  margin: 10px 0;
  padding: 10px;
  background-color: var(--color-almost-white);
}

.board-panel-header {
  word-wrap: break-word;
}

.board-panel {
  padding: 0;
  max-width: 12rem;
  margin: auto;
  border: 0.1rem solid var(--color-base-gray);
  border-radius: 0.25rem;
}

/*
 * The measure 576px is taken from the bootstrap "sm" breakpoint.
 * It was necessary because we're not using a sass compiler to get
 * the bootstrap sass variables.
 */
@media (min-width: 1200px) {
    .board-panel {
      max-width: 100%;
    }
}

.board-card h5 {
  font-weight: bold;
}

.text-red {
  color: var(--bs-red);
}
.text-yellow {
  color: var(--bs-orange);
}
.text-green {
  color: var(--bs-green);
}
.btn-cancel {
  color: var(--color-catalyst-blue);
  background-color: var(--color-base-gray);
  text-decoration: underline;
}
.btn-google-logo {
  width: 20px;
  margin-bottom: 3px;
  margin-right: 5px;
}
.required {
  font-weight: bold;
  color: red;
}


/* Define styles subtasks */
ul.subtask-list {
    list-style-type: none; /* Remove default bullet points for this specific list */
    margin: 0; /* Adjust the margin to reduce indenting */
    padding: 0; /* Optionally adjust padding as well */
}

ul.subtask-list li {
    margin: 0; /* Adjust the margin to reduce indenting */
    padding: 0; /* Optionally adjust padding as well */
}

ul.subtask-list li.subtask-not-required {
    text-decoration: line-through;
}


/* Define the styles for the btn-lozenge*/
.btn-lozenge {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #999;
  border-radius: 50px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-lozenge:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
}

.read-only-field {
  background-color: #f0f0f0;
  color: #333;
  border-color: #999;
  cursor: default;
}

/* Define styles for workflow arrows */
.arrowsBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.arrowTail:before {
  content: '';
  position: absolute;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  left: 0px;
  z-index: 2;
}

.arrowBase {
  background-color: var(--color-base-gray);
  height: 40px;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  width: 200px;
  text-align: center;
}

.arrowText{
	color:black;
	font-weight:bold;
	line-height: 40px;
	padding-left: 20px;
}

.arrowHead:after {
  color: var(--color-base-gray);
  border-left: 20px solid;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
  right: -20px;
}

.arrowLast:after {
  content: '';
  position: absolute;
  border-left: 20px solid white;
  left: 0px;
  z-index: 2;
}