[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-extensions = "*"
django-widget-tweaks = "*"
django-environ = "*"
google-cloud-secret-manager = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-sendgrid-v5 = "*"
django-allauth = "*"
django-debug-toolbar = "*"
django-simple-history = "*"

[dev-packages]
pytest = "*"
black = "*"
pipfile-requirements = "*"

[requires]
python_version = "3.10"

[scripts]
server = "python manage.py runserver"
black = "black ."
print-reqs = "pipfile2req"
